:root {
	--viewport: 1200px;
	--font-sans: 'Roboto';
	--font-mono: 'Space Mono';
}

* {
	box-sizing: border-box;
	/* outline: 1px solid red; */
}

::selection {
	color: #fff;
	background-color: var(--thumb);
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--bg);
}

.material-icons {
	font-size: 24px;
}

a,
svg,
small,
input,
code {
	display: block;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
code,
span,
small,
input,
button,
select {
	color: var(--color);
	font-family: var(--font-sans), sans-serif;
}

code {
	font-size: 0.8rem;
	font-family: var(--font-mono), monospace;
}

a {
	color: var(--thumb);
	text-decoration: none;
	font-family: var(--font-mono);
}

button,
select,
input[type='text'] {
	border: none;
	appearance: none;
	background-color: transparent;
}

button:hover {
	background-color: var(--hover);
}

button:disabled {
	cursor: none !important;
	background-color: transparent;
}

input[type='text'],
button:focus {
	outline: none;
}

input {
	font-size: 1rem;
	text-align: center;
}

button {
	cursor: pointer;
}

svg,
small,
span {
	pointer-events: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

input[type='text'] {
	caret-color: var(--thumb);
	padding: 0.7rem;
}

input[type='text']:focus::placeholder {
	color: var(--thumb);
	opacity: 1;
}

input[type='range'] {
	height: 3px;
	width: 130px;
	appearance: none;
	border-radius: 999px;
	background: var(--thumb);
}

input[type='range']::-webkit-slider-thumb {
	width: 15px;
	height: 15px;
	cursor: grab;
	border: none;
	background: var(--thumb);
	-webkit-appearance: none;
}

input[type='range']::-moz-range-thumb {
	width: 15px;
	height: 15px;
	cursor: grab;
	border: none;
	background: var(--thumb);
}

@media screen and (max-width: 450px) {
	.sm-hidden {
		display: none !important;
	}

	.border-none {
		border: none !important;
	}

	.sm-full-width {
		width: 100% !important;
	}

	main {
		grid-template-columns: repeat(12, 1fr) !important;
	}
}

@media screen and (max-width: 820px) {
	.md-hidden {
		display: none !important;
	}

	.md-full-width {
		width: 100% !important;
	}
}

/* Components */

.action {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.3rem;
	transition: all 0.2s;
	border-radius: 999px;
}

.btn-primary {
	padding: 0.6rem;
	font-weight: 500;
	border-radius: 5px;
	color: var(--thumb);
	border: 1px solid var(--thumb);
}

/* Mixins  */

.apart {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.around {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.rounded {
	width: 2rem;
	height: 2rem;
	border-radius: 999px;
}

.btn {
	font-weight: 500;
	border-radius: 3px;
	color: var(--thumb);
	padding: 0.3rem 0.5rem;
}

/* Utils  */

.flex {
	display: flex;
}

.f-row {
	flex-direction: row;
}

.f-column {
	flex-direction: column;
}

.align-start {
	align-items: start;
}

.text-center {
	text-align: center;
}

.border-t {
	border-top: 1px solid var(--border);
}

.border-b {
	border-bottom: 1px solid var(--border);
}

.block {
	display: block;
}

.hidden {
	display: none;
}

.margin-left {
	margin-right: 0.5rem;
}

.col-10 {
	grid-column: 10 span / 10 span;
}

.col-12 {
	grid-column: 12 span / 12 span;
}

.pd-1 {
	padding: 1rem;
}

.gap-y-1 {
	gap: 1rem;
}

.my-1 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.gap-x-1 {
	gap: 1rem;
}

.grow {
	flex-grow: 1;
}

.grid-1 {
	grid-template-columns: repeat(1, 1fr);
}

.grid-3 {
	grid-template-columns: repeat(3, 1fr);
}

.col-3 {
	grid-column: 3 span / 3 span;
}

.col-1 {
	grid-column: 1 span / 1 span;
}

.border-r {
	border-right: 1px solid var(--border);
}

.border-l {
	border-left: 1px solid var(--border);
}

.opacity-0 {
	opacity: 0;
}

.opacity-1 {
	opacity: 1;
}
