:root {
	--font-sans: 'Roboto';
	--font-mono: 'Space Mono';
}

* {
	/* outline: 1px solid red; */
	box-sizing: border-box;
}

::selection {
	color: #fff;
	background-color: var(--thumb);
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--bg);
}

a,
svg,
small,
input,
code {
	display: block;
}

small,
button,
select,
span,
input,
code,
li,
h1,
h2,
h3,
h4,
h5,
p {
	font-family: var(--font-sans), sans-serif;
	color: var(--color);
}

code {
	font-family: var(--font-mono), monospace;
	font-size: 0.8rem;
}

a {
	font-family: var(--font-mono);
	color: var(--thumb);
	text-decoration: none;
}

button,
select,
input[type='text'] {
	border: none;
	appearance: none;
	background-color: transparent;
}

button:hover {
	background-color: var(--hover);
}

button:disabled {
	cursor: default;
	background-color: transparent;
}

input[type='text'],
button:focus {
	outline: none;
}

input {
	text-align: center;
	font-size: 1rem;
}

button {
	cursor: pointer;
}

svg,
small,
span {
	pointer-events: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

input[type='text'] {
	caret-color: var(--thumb);
	padding: 0.7rem;
}

input[type='text']:focus::placeholder {
	color: var(--thumb);
	opacity: 1;
}

input[type='range'] {
	appearance: none;
	height: 3px;
	background: var(--thumb);
	border-radius: 999px;
	width: 130px;
	margin: auto;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	background: var(--thumb);
	cursor: grab;
	border: none;
}

input[type='range']::-moz-range-thumb {
	width: 15px;
	height: 15px;
	background: var(--thumb);
	cursor: grab;
	border: none;
}

@media screen and (max-width: 768px) {
	.sm-hidden {
		display: none !important;
	}

	.sm-full-width {
		width: 100% !important;
	}

	main {
		grid-template-columns: repeat(12, 1fr) !important;
	}
}

/* Mixins  */

.apart {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.around {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.rounded {
	width: 2rem;
	height: 2rem;
	border-radius: 999px;
}

.btn {
	border-radius: 3px;
	padding: 0.3rem 0.5rem;
	color: var(--thumb);
	font-weight: 500;
}

/* Utils  */

.f-column {
	flex-direction: column;
}

.text-center {
	text-align: center;
}

.border-t {
	border-top: 1px solid var(--border);
}

.border-b {
	border-bottom: 1px solid var(--border);
}

.block {
	display: block;
}

.hidden {
	display: none;
}

.col-10 {
	grid-column: 10 span / 10 span;
}

.col-12 {
	grid-column: 12 span / 12 span;
}
